* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
}

.logo {
    margin: 40px 16px 40px 40px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 450px;
    height: 40px;
    padding: 8px;
    margin-left: 16px;
    background-color: #e9ecff;
    border-radius: 32px;
    transition: all 0.3s;
}

.search-input {
    width: 400px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    background: 0;
    border: none;
    outline: 0;
}

.search-icon {
    cursor: pointer;
}


.user-shop {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile {
    width: 32px;
    height: 32px;
    background-color: rgb(80, 80, 80);
    border-radius: 16px;
}

.user i {
    font-size: 15px;
    margin-left: 5px;
}

.shop {
    display: flex;
    align-items: center;
}

.shop i {
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
}

.line-icon {
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 10px;
}

/* ----------------------------------------------------------- */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

.location p {
    margin-left: 12px;
    font-size: 18px;
    font-weight: 600;
}


.ul-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    list-style: none;
}

.li-item {
    margin-right: 32px;
    font-size: 20px;
}

.li-item a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    border-bottom: 2px solid #aebaf800;
    opacity: 50%;
    transition: all 0.3s;
}

.li-item a:hover {
    color: black;
    border-bottom: 2px solid #aebaf8;
    opacity: 100%;
}

#Home {
    border-bottom: 2px solid #AEBAF8;
}

/* ----------------------------------------------------------- */

.main {
    margin: 40px 168px;
}

.main .one-part {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.one-part .texts h1 {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 4px;
}

.one-part .texts p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
}

.texts button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 186px;
    height: 40px;
    padding: 0 16px 0 16px;
    background: #e9ecff;
    border-radius: 24px;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    border: none;
}

.texts button:active {
    background: #cfd7ff;
}

.one-part .image-car {
    position: absolute;
    left: 38%;
}